%h1 Listing Public Sets

%p 
  = @question_sets.length.to_s + ' question sets are available'

%table
  %thead
    %tr
      %th Name
      %th Owner
      %th
      %th

  %tbody
    - @question_sets.each do |question_set|
      %tr
        %td= question_set.name
        %td= question_set.user.name
        %td= link_to 'Show', question_set
        %td= link_to 'View Questions', question_set_questions_path(question_set)

%br

