!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %title= content_for?(:title) ? yield(:title) : "foundation-rails"
    = stylesheet_link_tag    "application"
    = javascript_include_tag "vendor/modernizr"
    = javascript_include_tag "application", 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %nav.top-bar{"data-topbar" => "", :role => "navigation"}
      %ul.title-area
        %li.name
          %h1
            %a{:href => "/"}
              %strong NSB
      %li.toggle-topbar.menu-icon
        %a{:href => "#"}
          %span Menu
      %section.top-bar-section
        / Right Nav Section
        %ul.right
          - name_of_user = current_user.name + ': Sign Out' if current_user else nil
          - if user_signed_in?
            %li= link_to name_of_user, destroy_user_session_path, :method => :delete
          - else
            %li= link_to 'Sign in', new_user_session_path
            %li= link_to 'Sign up', new_user_registration_path
        %ul.left
    - if notice
      .alert-box{"data-alert" => ""}
        = notice
        %a.close{:href => "#"} &times;
    - if alert
      .alert-box.alert{"data-alert" => ""}
        = alert
        %a.close{:href => "#"} &times;
    .wrapper
      = yield
